h1{
    font-size: x-large;
    color:aqua;
}

button {
    height: 25px;
    width: 75px;
}

button.add{
    background-color: green;
}

button.sub {
    background-color: red;
}

button.reset{
    background-color: blue;
}

span{
    margin: 2px;
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: 25px;
    background-color: orange;
}